.composer {
  height: calc(100% - 55px);
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.toolbar {
  background-color: papayawhip;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid black;
}

.canvas {
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

.palette {
  padding-top: 2rem;
  border-top: 1px solid gray;
}
