@value NoteBlock: "./NoteBlock.module.css";
@value noteHeight, oneEighthNoteHeight, quarterNoteHeight, threeEighthsNoteHeight from NoteBlock;

.measureWrap {
  height: calc(noteHeight * 1.25);
  display: grid;
  grid-template-rows: 1fr threeEighthsNoteHeight 1fr quarterNoteHeight;
  grid-template-columns: 1fr quarterNoteHeight threeEighthsNoteHeight;
  margin-bottom: noteHeight;
}

.measure {
  height: noteHeight;
  width: calc(noteHeight * 4);
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.removeButton {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 2;
  background: none;
  border: none;
}

.removeButtonIcon {
  height: quarterNoteHeight;
  width: quarterNoteHeight;
}

.addButton {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  background: none;
  border: 0;
  padding: 0;
  margin-left: oneEighthNoteHeight;
}

.addButtonIcon {
  height: threeEighthsNoteHeight;
  width: threeEighthsNoteHeight;
}
