@value noteHeight: 6rem;
@value noteBorder: calc(noteHeight * 0.05);
@value threeEighthsNoteHeight: calc(noteHeight * 0.375);
@value quarterNoteHeight: calc(noteHeight * 0.25);
@value oneEighthNoteHeight: calc(noteHeight * 0.125);

.noteBlock {
  box-sizing: border-box;
  border: noteBorder solid black;
  border-radius: noteBorder;
  height: noteHeight;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  padding: oneEighthNoteHeight;
}

.noteBlock > img {
  height: 100%;
  width: auto;
}

.wholeNote {
  width: calc(noteHeight * 4);
  background-color: #7e8af1;
}

.wholeNote > img {
  height: 25%;
}

.halfNote {
  width: calc(noteHeight * 2);
  background-color: #8dc063;
}

.quarterNote {
  width: noteHeight;
  background-color: #f17e7e;
}

.twoBeamed8thNotes {
  width: noteHeight;
  background-color: #f0ee8c;
}

.fourBeamed16thNotes {
  width: noteHeight;
  background-color: #e99b51;
}

.fourBeamed16thNotes img {
  height: auto;
  width: 100%;
}

.quarterRest {
  width: noteHeight;
  background-color: #b464ff;
  justify-content: center;
}
