@value NoteBlock: "./NoteBlock.module.css";
@value noteHeight, oneEighthNoteHeight from NoteBlock;

.notePalette {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.notePaletteNoteBlock {
  margin: 0 oneEighthNoteHeight oneEighthNoteHeight 0;
}
